
/* ===== HEADER STYLING ===== */
header {
  background-color: #ca05b0; /* Dark blue background */
  color: white;
  text-align: center;
  padding: 45px 0;
  border-radius: 7px;
}

header h1 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}

header p {
  font-size: 16px;
  margin-top: 5px;
  color: #e0e0e0;
}
    /* ===== FOOTER STYLING ===== */
footer {
  background-color: #d60c7b; /* Same blue as header */
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}

footer span {
  color: #f8c22e; /* Optional accent color */
}